<apex:page standardController="Opportunity" extensions="JVCO_ApexJobController" lightningStylesheets="true">
  <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />  
  <apex:form >
     <apex:pageblock >
         <div class="imprt">
             <apex:pageMessages id="statusPageMessages"></apex:pageMessages>
             <apex:dataTable value="{!lstApexJobs }" var="evt" styleClass="slds-table slds-table--bordered slds-table--striped" >
                 <apex:column > 
                    <apex:facet name="header">Name</apex:facet>
                     {!evt.ApexClass.Name}
                 </apex:column>
                 <apex:column >
                     <apex:facet name="header">Number of Errors</apex:facet>
                     {!evt.NumberOfErrors}
                 </apex:column>
                 <apex:column >
                     <apex:facet name="header">Created Date</apex:facet>
                     {!evt.CreatedDate}
                 </apex:column>
                 <apex:column >
                     <apex:facet name="header">Job Type</apex:facet>
                     {!evt.JobType}
                 </apex:column>
                 <apex:column >
                     <apex:facet name="header">Completed Date</apex:facet>
                     {!evt.CompletedDate}
                 </apex:column>
                 <apex:column >
                     <apex:facet name="header">Status</apex:facet>
                     {!evt.Status}
                 </apex:column>
                 <apex:column >
                     <apex:facet name="header">Created By</apex:facet>
                     {!evt.CreatedBy.Name}
                 </apex:column>
             </apex:dataTable>
             </div>
      </apex:pageblock>
    </apex:form>
    </html>
</apex:page>