<apex:page standardController="SBQQ__Subscription__c" extensions="JVCO_SubscriptionBeforeDeleteErrorLogic" action="{!init}">
 <!-- Pane for Error Messages -->
    <apex:form >
        <apex:pageMessages id="errMsg" escape="false"/>
        <center><apex:commandButton action="{!returnToPrevious}" value="Back"/></center>
    </apex:form>
</apex:page>