<apex:page standardcontroller="Order" extensions="JVCO_BillNowLogic" recordSetVar="orders" lightningStylesheets="true">
    <apex:form id="billForm">
        <apex:outputPanel>
            <div align="center" style="font-size:15px; margin-top:15px; margin-bottom:10px; ">
                <apex:outputLabel id="validOrders" rendered="{!IF(numOfSelectedOrders>0,true,false) && canContinue}"> Please click Run to Bill the Order/s</apex:outputLabel>
                <apex:outputLabel id="noOrder" rendered="{!IF(numOfSelectedOrders==0,true,false)}"> Please select at least 1 Order</apex:outputLabel>
            </div>
            <div align="center" style="margin-top:20px; margin-bottom:25px;" >
                <apex:actionStatus id="status">
                    <apex:facet name="stop">
                        <apex:commandButton action="{!init}" status="status" value="Run" disabled="false" rerender="errPanel" rendered="{!IF(numOfSelectedOrders>0,true,false) && canContinue}"/>
                    </apex:facet>
                    <apex:facet name="start">
                        <apex:commandButton action="{!init}" status="status" value="Run" disabled="true"/>
                    </apex:facet>
                </apex:actionStatus>
                <apex:commandButton value="Return to Account" action="{!returnToAccount}"/>
            </div>    
        </apex:outputPanel>
        <apex:outputPanel id="errPanel">
            <apex:pageMessages id="statusPageMessages" escape="false"/>
        </apex:outputPanel>
    </apex:form>
</apex:page>