<apex:page controller="JVCO_SearchMergeController" title="Dupe Eliminator" tabStyle="JVCO_Dupe_Eliminator__tab" showHeader="{!NOT(hideHeader)}" sidebar="{!NOT(hideSidebar)}" lightningStylesheets="true">
    <apex:includeScript value="{!$Resource.jquery321}"/>
    <apex:includeScript value="/soap/ajax/40.0/connection.js"/>
    <script>
        sforce.connection.sessionId='{!GETSESSIONID()}';
        
        /*
        * Methods to perform once the page has been loaded
        */
        $( document ).ready(function() {
            var rowData1 = document.getElementsByClassName("dataRow1");
            var rowData2 = document.getElementsByClassName("dataRow2");
            var rowData3 = document.getElementsByClassName("dataRow3");
            var rowData4 = document.getElementsByClassName("dataRow4");
            var i;
            var max = 0;
            var isNotAllNull = false;
            for (i = rowData1.length - 1; i >= 0; i--) {
                isNotAllNull = false;
                if(rowData2.length > 0){
                    var labelElements = rowData2[i].getElementsByTagName("label");
                    var lastIndex = labelElements.length - 1;
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() === "true"){
                        var startText = labelElements[lastIndex].textContent.substring(0, labelElements[lastIndex].textContent.indexOf("true"));
                        labelElements[lastIndex].innerHTML = startText + "True";
                    }
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() === "false"){
                        var startText = labelElements[lastIndex].textContent.substring(0, labelElements[lastIndex].textContent.indexOf("false"));
                        labelElements[lastIndex].innerHTML = startText + "False";
                    }
                    
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() != ""){
                        isNotAllNull = true;
                    }
                }
                
                if(rowData3.length > 0){
                    var labelElements = rowData3[i].getElementsByTagName("label");
                    var lastIndex = labelElements.length - 1;
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() === "true"){
                        var startText = labelElements[lastIndex].textContent.substring(0, labelElements[lastIndex].textContent.indexOf("true"));
                        labelElements[lastIndex].innerHTML = startText + "True";
                    }
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() === "false"){
                        var startText = labelElements[lastIndex].textContent.substring(0, labelElements[lastIndex].textContent.indexOf("false"));
                        labelElements[lastIndex].innerHTML = startText + "False";
                    }
                    
                    if(labelElements.length > 0 && labelElements[0].textContent.trim() != ""){
                        isNotAllNull = true;
                    }
                }
                
                if(rowData4.length > 0){
                    var labelElements = rowData4[i].getElementsByTagName("label");
                    var lastIndex = labelElements.length - 1;
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() === "true"){
                        var startText = labelElements[lastIndex].textContent.substring(0, labelElements[lastIndex].textContent.indexOf("true"));
                        labelElements[lastIndex].innerHTML = startText + "True";
                    }
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() === "false"){
                        var startText = labelElements[lastIndex].textContent.substring(0, labelElements[lastIndex].textContent.indexOf("false"));
                        labelElements[lastIndex].innerHTML = startText + "False";
                    }
                    
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() != ""){
                        isNotAllNull = true;
                    }
                }
                
                max = rowData1[i].offsetHeight;
                
                if(rowData2.length > 0 && rowData2[i].offsetHeight > max){
                    max = rowData2[i].offsetHeight;
                }
                
                if(rowData3.length > 0 && rowData3[i].offsetHeight > max){
                    max = rowData3[i].offsetHeight;
                }
                
                if(rowData4.length > 0 && rowData4[i].offsetHeight > max){
                    max = rowData4[i].offsetHeight;
                }
                
                rowData1[i].cells[0].height = max + "px";
                
                if(rowData2.length > 0){
                    rowData2[i].cells[0].height = max + "px";
                }
                
                if(rowData3.length > 0){
                    rowData3[i].cells[0].height = max + "px";
                }
                
                if(rowData4.length > 0){
                    rowData4[i].cells[0].height = max + "px";
                }
                
                if(!isNotAllNull){
                    if(rowData1.length > 0){
                        rowData1[i].parentElement.deleteRow(i);
                    }
                    if(rowData2.length > 0){
                        rowData2[i].parentElement.deleteRow(i);
                    }
                    if(rowData3.length > 0){
                        rowData3[i].parentElement.deleteRow(i);
                    }
                    if(rowData4.length > 0){
                        rowData4[i].parentElement.deleteRow(i);
                    }
                }
                            
            }
            
        });
        
        function reRenderMergeTable(){
            var rowData1 = document.getElementsByClassName("dataRow1");
            var rowData2 = document.getElementsByClassName("dataRow2");
            var rowData3 = document.getElementsByClassName("dataRow3");
            var rowData4 = document.getElementsByClassName("dataRow4");
            var i;
            var max = 0;
            var isNotAllNull = false;
            for (i = rowData1.length - 1; i >= 0; i--) {
                isNotAllNull = false;
                if(rowData2.length > 0){
                    var labelElements = rowData2[i].getElementsByTagName("label");
                    var lastIndex = labelElements.length - 1;
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() === "true"){
                        var startText = labelElements[lastIndex].textContent.substring(0, labelElements[lastIndex].textContent.indexOf("true"));
                        labelElements[lastIndex].innerHTML = startText + "True";
                    }
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() === "false"){
                        var startText = labelElements[lastIndex].textContent.substring(0, labelElements[lastIndex].textContent.indexOf("false"));
                        labelElements[lastIndex].innerHTML = startText + "False";
                    }
                    
                    if(labelElements.length > 0 && labelElements[lastIndex].textContent.trim() != ""){
                        isNotAllNull = true;
                    }
                }
                
                if(rowData3.length > 0){
                    var labelElements = rowData3[i].getElementsByTagName("label");
                    if(labelElements.length > 0 && labelElements[0].textContent.trim() === "true"){
                        var startText = labelElements[0].textContent.substring(0, labelElements[0].textContent.indexOf("true"));
                        labelElements[0].innerHTML = startText + "True";
                    }
                    if(labelElements.length > 0 && labelElements[0].textContent.trim() === "false"){
                        var startText = labelElements[0].textContent.substring(0, labelElements[0].textContent.indexOf("false"));
                        labelElements[0].innerHTML = startText + "False";
                    }
                    
                    if(labelElements.length > 0 && labelElements[0].textContent.trim() != ""){
                        isNotAllNull = true;
                    }
                }
                
                if(rowData4.length > 0){
                    var labelElements = rowData4[i].getElementsByTagName("label");
                    if(labelElements.length > 0 && labelElements[0].textContent.trim() === "true"){
                        var startText = labelElements[0].textContent.substring(0, labelElements[0].textContent.indexOf("true"));
                        labelElements[0].innerHTML = startText + "True";
                    }
                    if(labelElements.length > 0 && labelElements[0].textContent.trim() === "false"){
                        var startText = labelElements[0].textContent.substring(0, labelElements[0].textContent.indexOf("false"));
                        labelElements[0].innerHTML = startText + "False";
                    }
                    
                    if(labelElements.length > 0 && labelElements[0].textContent.trim() != ""){
                        isNotAllNull = true;
                    }
                }
                
                max = rowData1[i].offsetHeight;
                
                if(rowData2.length > 0 && rowData2[i].offsetHeight > max){
                    max = rowData2[i].offsetHeight;
                }
                
                if(rowData3.length > 0 && rowData3[i].offsetHeight > max){
                    max = rowData3[i].offsetHeight;
                }
                
                if(rowData4.length > 0 && rowData4[i].offsetHeight > max){
                    max = rowData4[i].offsetHeight;
                }
                
                rowData1[i].cells[0].height = max + "px";
                
                if(rowData2.length > 0){
                    rowData2[i].cells[0].height = max + "px";
                }
                
                if(rowData3.length > 0){
                    rowData3[i].cells[0].height = max + "px";
                }
                
                if(rowData4.length > 0){
                    rowData4[i].cells[0].height = max + "px";
                }
                
                if(!isNotAllNull){
                    if(rowData1.length > 0){
                        rowData1[i].parentElement.deleteRow(i);
                    }
                    if(rowData2.length > 0){
                        rowData2[i].parentElement.deleteRow(i);
                    }
                    if(rowData3.length > 0){
                        rowData3[i].parentElement.deleteRow(i);
                    }
                    if(rowData4.length > 0){
                        rowData4[i].parentElement.deleteRow(i);
                    }
                }
                            
            }
        }
    </script>
    
    <style>
       .dataRow1 {
            height: 40px !important; /* or whatever height you need to make them all consistent */
       }
       
       .dataRow2 {
            height: 40px !important; /* or whatever height you need to make them all consistent */
       }
       
       .dataRow3 {
            height: 40px !important; /* or whatever height you need to make them all consistent */
       }
       
       .dataRow4 {
            height: 40px !important; /* or whatever height you need to make them all consistent */
       }
       
       p {
          margin-left: 0em !important;
       }
    </style>
    
    <apex:form >
        <apex:pageBlock title="Merge Records" id="mergeRecords"
            helpTitle="Dupe Eliminator Help"
            helpUrl="https://sites.secure.force.com/appexchange/content?contentId=a0K30000002BYXFEA4">
            <apex:pageBlockButtons >
                <!--<apex:commandButton value="Previous" action="{!previous}"/>-->
                <apex:commandButton value="Merge" action="{!doMerge}" style="margin-left: 1em"
                    onclick="return window.confirm('These records will be merged into one record using the selected values. Merging cannot be undone. Proceed with the record merge?');"/>
                <apex:commandButton value="Cancel" action="{!cancel2}" style="margin-left: 1em"/>
            </apex:pageBlockButtons>
            <apex:pageMessages />
            <!--<apex:pageBlockSection columns="1" id="mergeSettings">
                <apex:outputText value="Merge Settings" style="font-weight:bold" />
                <apex:panelGrid columns="2">
                    <apex:inputCheckbox value="{!showMasterAfterMerge}" id="showMasterCheckbox"
                        title="If this is enabled, page is redirected to master record detail page after merge."/>
                    <apex:outputLabel value="Show master record after merge" for="showMasterCheckbox"/>
                    <apex:inputCheckbox value="{!cloneNonReparentableChild}" id="cloneCheckbox"
                        title="If this is enabled, merge operation will attempt to clone any non-reparentable child records.">
                        <apex:actionSupport event="onclick" action="{!clearChildSelection}" rerender="mergeSettings"/>
                     </apex:inputCheckbox>
                    <apex:outputLabel value="Clone non-reparentable child records" for="cloneCheckbox"/>
                </apex:panelGrid>
                <apex:panelGrid columns="1" id="childSelection" rendered="{!cloneNonReparentableChild}">
                    <apex:outputText value="You can select up to 10 child relationships:"  style="font-style:italic" rendered="{!childRelationshipSelection.size != 0}"/>
                    <apex:outputText value="{!queryBuilder.objectLabel} does not have any non-reparentable child relationships"  style="font-style:italic" rendered="{!childRelationshipSelection.size == 0}"/>
                    <apex:selectCheckboxes value="{!childRelationships}" layout="pageDirection">
                        <apex:selectOptions value="{!childRelationshipSelection}"/>
                    </apex:selectCheckboxes>
                </apex:panelGrid>
            </apex:pageBlockSection>-->
            <p/>
            <hr/>
            <p/>
            <apex:pageMessage severity="info" summary="Click on the record header to select all fields"/>
            <apex:actionStatus id="reRenderStatusId" onstop="reRenderMergeTable()"/>
            <apex:pageBlockSection columns="1" id="mergeDataTable">
                <apex:panelGrid columns="4" width="100%">
                <apex:dataTable var="f" value="{!fieldLabels}" rules="rows" width="100%" rowClasses="dataRow1">
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputText value="Field Name"/>
                        </apex:facet>
                        <div style="padding-top: 10px;"><apex:outputText value="{!f}" escape="false"/></div>
                    </apex:column>
                </apex:dataTable>
                <apex:dataTable var="f" value="{!mergeRecord1.fields}" rendered="{!NOT(ISNULL(mergeRecord1))}"
                    rules="rows" width="100%" rowClasses="dataRow2">
                    <apex:column >
                        <apex:facet name="header">
                            <apex:commandLink value="{!queryBuilder.objectLabel} 1" action="{!doSelectRecord}" rerender="mergeRecords">
                                <apex:param name="selectedRecord" assignto="{!selectedRecord}" value="{!mergeRecord1.ID}"/>
                            </apex:commandLink>
                        </apex:facet>
                        <apex:selectRadio value="{!f.selected}">
                            <apex:selectOption itemValue="true" itemLabel="{!f.displayValue}" itemEscaped="false"/>
                            <apex:actionSupport rerender="mergeDataTable" event="onclick" action="{!doSelectField}" status="reRenderStatusId">
                                <apex:param name="selectedRecord" assignto="{!selectedRecord}" value="{!mergeRecord1.ID}"/>
                                <apex:param name="selectedField" assignto="{!selectedField}" value="{!f.name}"/>
                             </apex:actionSupport>
                        </apex:selectRadio>
                    </apex:column>
                </apex:dataTable>
                <apex:dataTable var="f" value="{!mergeRecord2.fields}" rendered="{!NOT(ISNULL(mergeRecord2))}"
                    rules="rows" width="100%" rowClasses="dataRow3">
                    <apex:column >
                        <apex:facet name="header">
                            <apex:commandLink value="{!queryBuilder.objectLabel} 2" action="{!doSelectRecord}" rerender="mergeRecords">
                                <apex:param assignto="{!selectedRecord}" value="{!mergeRecord2.ID}"/>
                            </apex:commandLink>
                        </apex:facet>
                        <apex:selectRadio value="{!f.selected}">
                            <apex:selectOption itemValue="true" itemLabel="{!f.displayValue}" itemEscaped="false"/>
                            <apex:actionSupport rerender="mergeDataTable" event="onclick" action="{!doSelectField}" status="reRenderStatusId">
                                <apex:param name="selectedRecord" assignto="{!selectedRecord}" value="{!mergeRecord2.ID}"/>
                                <apex:param name="selectedField" assignto="{!selectedField}" value="{!f.name}"/>
                             </apex:actionSupport>
                        </apex:selectRadio>
                    </apex:column>
                </apex:dataTable>
                <apex:dataTable var="f" value="{!mergeRecord3.fields}" rendered="{!NOT(ISNULL(mergeRecord3))}"
                    rules="rows" width="100%" rowClasses="dataRow4">
                    <apex:column >
                        <apex:facet name="header">
                            <apex:commandLink value="{!queryBuilder.objectLabel} 3" action="{!doSelectRecord}" rerender="mergeRecords">
                                <apex:param assignto="{!selectedRecord}" value="{!mergeRecord3.ID}"/>
                            </apex:commandLink>
                        </apex:facet>
                        <apex:selectRadio value="{!f.selected}">
                            <apex:selectOption itemValue="true" itemLabel="{!f.displayValue}" itemEscaped="false"/>
                            <apex:actionSupport rerender="mergeDataTable" event="onclick" action="{!doSelectField}" status="reRenderStatusId">
                                <apex:param name="selectedRecord" assignto="{!selectedRecord}" value="{!mergeRecord3.ID}"/>
                                <apex:param name="selectedField" assignto="{!selectedField}" value="{!f.name}"/>
                             </apex:actionSupport>
                        </apex:selectRadio>
                    </apex:column>
                </apex:dataTable>
                </apex:panelGrid>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>