<apex:page standardController="JVCO_Venue__c" lightningStylesheets="true">
    <apex:pagemessages />
    <apex:form >
        <apex:sectionHeader title="Venue" subtitle="{!JVCO_Venue__c.Name}"/>
        <apex:pageBlock title="Venue Address" mode="edit">
            <apex:pageblockButtons >
                <apex:commandButton value="Save" action="{!Save}" />
                <apex:commandButton value="Cancel" action="{!Cancel}"/>
            </apex:pageblockButtons>
            <apex:pageBlockSection title="Address Finder">
                <pca:AddressFinder label="Venue Street" record="{!JVCO_Venue__c}" address="Venue" />
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>