<apex:page controller="JVCO_SchedTransBatchExtension" docType="html-5.0">
    <apex:form id="f1" style="align:center">
        <center>
            <apex:pageBlock id="section">
            <b>Click button to redirect to Schedule Job Page</b><br/><br/>
            <div>
                <apex:commandButton value="Schedule" action="{!redirectToSched}"/>
            </div>
            <br/>
            <div>
                <apex:outputlink value="/{!reportLink}">Account Transformation Batch Report</apex:outputlink>
            </div>
            </apex:pageBlock>
            <apex:pageMessages id="statusPageMessages" escape="false"></apex:pageMessages>
        </center>
    </apex:form>
</apex:page>