<apex:page standardController="Contract" extensions="JVCO_GenerateRenewalQuoteExtension" action="{!renewalUpdate}">
    <apex:form >
        <div align="center">
        <apex:outputPanel id="loader" style="display: inline-block; padding: 2px; background-color: #fff;">
            <apex:outputPanel rendered="{!!renderBackBtn}">
                <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!renderBackBtn}">
                <apex:pageMessages ></apex:pageMessages>
                <apex:commandButton value="Return to Contract" action="{!backToContract}"/>
            </apex:outputPanel>
        </apex:outputPanel>
        </div>
        <apex:actionPoller action="{!quoteCreated}" reRender="loader" interval="5" />
    </apex:form>
</apex:page>