<apex:page standardController="Lead" lightningStylesheets="true">
    <apex:pagemessages />
    <apex:form >
        <apex:sectionHeader title="Lead" subtitle="{!Lead.Name}"/>
        <apex:pageBlock title="Lead Address" mode="edit">
            <apex:pageblockButtons >
                <apex:commandButton value="Save" action="{!Save}"/>
                <apex:commandButton value="Cancel" action="{!Cancel}"/>
            </apex:pageblockButtons>
            <apex:pageBlockSection title="Address Finder">
                <pca:AddressFinder label="Venue " record="{!Lead}" address="Lead"/>  
                <pca:AddressFinder label="Billing " record="{!Lead}" address="LeadBillingAddress"/>    
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>