<apex:page standardController="Account" extensions="JVCO_AcquisitionsExtension"  doctype="html-5.0">
    
    <style>
        .highlight 
        {
            background-color:#ADD8E6; 
        }
        .nohighlight
        { 
            background-color:#FFFFFF; 
        }
        .dateReasonTable
        {
            width:100%;      
            border-collapse:collapse; 
            border:1px solid #f1f1f1;
        }
        .dateReasonTable tr
        {
            padding:4px;
        }
        .dateReasonTable td
        {
            padding:4px;
        }
        .hoverTable{
            width:100%; 
            border-collapse:collapse; 
            border:1px solid #f1f1f1;
        }
        .inHoverTable
        {
            border-top: 1px solid;
            border-left:1px solid;
        }
        .hoverTable td
        { 
            padding:4px;
        }
        .hoverTable tr
        { 
            padding:4px;
        }
        .largeButton
        {
            font-size: 8pt !important;
        }
        .searchText
        {
            font-size: 16pt;
            font-style: italic;
            border-radius: 10px;
        }
        .searchButton
        {
            font-size: 16pt !important;
        }
        .listButtons 
        {
            width:100px; 
            text-align:center;
        }
        .headerStyle  
        {                
            font-size:13px;                  
            height: 18px; 
                        
            background-color: #bdbdbd;    
            padding:7px; /*border:0px solid black;  */
              /*  #00ff00      */
        }
        
        .accountLink
        {
        /*cursor: pointer;
        color: #0000FF;
        text-decoration: underline;*/
            font-weight: bold;
            font-size: 15px;
        }
        
        progress, progress[role] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            background-size: auto;
            height: 15px;
            width: 100%;
        }

        .skill-list {
            list-style: none;
            margin: 0;
            padding: 1em;
        }

        .skill {
            margin-bottom: 1em;
            position: relative;
        }

        .skill h3 {
            color: #fff;
            left: 1em;
            line-height: 1;
            position: absolute;
            top: 1em;
        }

        .skill ::-webkit-progress-value {
            -webkit-animation: bar-fill 2s;
            width: 0px;
        }

        .skill-1::-webkit-progress-value {
            background: #1797c0;
        }

        .skill-1::-webkit-progress-bar {
            background: #ccc;
        }

        .skill-2::-webkit-progress-value {
            background: #1797c0;
        }

        .skill-2::-webkit-progress-bar {
            background: #ccc;
        }

        .skill-3::-webkit-progress-value {
            background: #1797c0;
        }

        .skill-3::-webkit-progress-bar {
            background: #ccc;
        }

        @-webkit-keyframes bar-fill {
            0% {
              width: 0;
            }
        }

        @keyframes bar-fill {
            0% {
              width: 0;
            }
        }
    </style>


    <script>
        var selectorList = [];
        var selectedList = [];
        var overarchingAffiliationValues = {};
        
        window.addEventListener('load', function() {
            for (elem of document.getElementsByClassName("overarchingValuesMarker")) {
                storeOverarchingValues(elem.getAttribute('data-apiname'), elem.value);
            }
        }, false);
    
        function storeOverarchingValues(apiName, value) {
            overarchingAffiliationValues[apiName] = value;
            console.log('storeOverarchingValues : overarchingAffiliationValues >>> ' + JSON.stringify(overarchingAffiliationValues, null));
        }
        
        function sendOverarchingValues() {
            console.log('sendOverarchingValues : overarchingAffiliationValues >>> ' + JSON.stringify(overarchingAffiliationValues, null));
            assignOverarchingValues(JSON.stringify(overarchingAffiliationValues, null));
        }

        function addToSelectorList (fn, row) 
        {
            console.log('DBG: ', row);
            if (!selectorList.includes(fn))
            {
                selectorList.push(fn);
                row.parentNode.style = "background-color:#ADD8E6";
            }
            else
            {
                var index = selectorList.indexOf(fn);
                selectorList.splice(index, 1);
                row.parentNode.style = "";
            }
            
            
        }

        function addToSelectedList (fn, row) 
        {
            console.log("D: "+row);
            if (!selectedList.includes(fn))
            {
                selectedList.push(fn);
                //row.className = "highlight";
                row.parentNode.style = "background-color:#ADD8E6";
            }
            else
            {
                var index = selectedList.indexOf(fn);
                selectedList.splice(index, 1);
                //row.className = "nohighlight";
                row.parentNode.style = "";
            }
        }

        function clearSelectorList () 
        {
            selectorList = [];
        }

        function clearSelectedList () 
        {
            selectedList = [];
        }

        function passSelectorListToClass () 
        {
            var a = JSON.stringify(selectorList, null);
            console.log('DBG: a >>> ', a);
            //alert(a);
            passSelectorValues(a);
            for (var member in selectorList) delete selectorList[member];
            selectorList = [];
        }

        function passSelectedListToClass () 
        {
            var a = JSON.stringify(selectedList, null);
            console.log('DBG: a >>> ', a);
            passSelectedValues(a);
            for (var member in selectedList) delete selectedList[member];
            selectedList = [];
        }

    </script>
    <!-- <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->
    <!-- <apex:stylesheet value="{!URLFOR($Resource.font_awesome_4_7_0, '/font-awesome-4.7.0/css/font-awesome.min.css')}"/> -->
    <!-- <apex:stylesheet value="{!$Resource.font_awesome_4_7_0}"/> -->
    <!-- link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"/ -->


   
    <apex:form >

        <apex:pageMessages id="showmsg"></apex:pageMessages>

        <apex:actionFunction name="passSelectorValues" action="{!receiveSelectorValues}" reRender="venuePanel, transferSelectionsAreaBottom, btnConfirmAcquisition" status="status">
            <apex:param name="p1" assignTo="{!venueSelectorIdFromPage}" value="" />
        </apex:actionFunction> 

        <apex:actionFunction name="passSelectedValues" action="{!receiveSelectedValues}" reRender="venuePanel, transferSelectionsAreaBottom, btnConfirmAcquisition" status="status">
            <apex:param name="p1" assignTo="{!venueSelectedIdFromPage}" value="" />
        </apex:actionFunction> 

        <apex:actionFunction name="assignOverarchingValues" action="{!addToList}" rerender="venuePanel, transferSelectionsAreaBottom, showmsg, btnConfirmAcquisition" status="status"> <!--status="status"-->
            <apex:param name="p1" assignTo="{!overarchingAffiliationValues}" value="" />
        </apex:actionFunction>

        <apex:actionFunction name="removeFromTransferSelections" action="{!removeFromTransferSelections}" reRender="venuePanel, transferSelectionsAreaBottom, btnConfirmAcquisition" status="status">
            <apex:param name="p1" assignTo="{!affiliationToBeRemovedFromTs}" value="" />
        </apex:actionFunction>
        
        
        <apex:actionStatus id="loadstatus">
            <apex:facet name="start">
            <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: black;">
                &nbsp;
            </div>
            <!-- <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 20% 45%">
                <img src="{!URLFOR($Resource.AcquisitionsDisposals, 'images/loadingspinner.gif')}" />
            </div> -->
            <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                <div style="display: inline-block; padding: 2px; background-color: #fff; width: 160px;">
                    <span style="display: inline-block; padding: 10px 0px;">Processed {!venueProgress} of {!venueSize} venue(s).</span>
                    <progress class="skill-1" max="{!venueSize}" value="{!venueProgress}"></progress>
                </div>
            </div>    
            </apex:facet>
        </apex:actionStatus>
        
        <apex:actionStatus id="status">
            <apex:facet name="start">
            <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: black;">
                &nbsp;
            </div>
            <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 20% 45%">
                <img src="{!URLFOR($Resource.AcquisitionsDisposals, 'images/loadingspinner.gif')}" />
            </div> 
            </apex:facet>
        </apex:actionStatus>

        <apex:variable var="index" value="{!0}" />
        
        <apex:outputPanel id="venueBlock">
        <apex:pageBlock ><!--Title="Acquisitions"-->
            <apex:facet name="header">
                <div class="pbHeader">
                    <table border="0" cellpadding="0" cellspacing="0">

                        <tbody>
                            <tr>
                                <td>
                                   <h2 class="mainTitle" style="font-size: 20px;">Venues Acquisitions</h2> 
                                </td>
                                <td>
                                    <!-- input type="button" value="Back" class="btn" onClick="window.location='/{!accountRecord.Id}';" style="position:relative;top:15px;left:200px;" / -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!-- div title="Go to Account" onclick="window.location='/{!accountRecord.Id}';">
                                        <span class="accountLink">{!accountRecord.Name}</span>
                                    </div -->
                                    <a href="{!$Site.BaseUrl}/{!accountRecord.Id}" title="Go to Account">
                                        <span class="accountLink">{!accountRecord.Name}</span>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </apex:facet>
            
            <apex:pageBlockSection columns="2" >
                <apex:pageBlockSectionItem >
                    <apex:panelGroup >&nbsp;
                        <apex:inputText value="{!searchFieldValue}" html-placeholder="Venue Search..." style="width: 475px;"/>&nbsp;
                        <apex:commandButton action="{!search}" value="  Search  " rerender="venuePanel, showmsg" status="status"/>
                       
                       <!--  TEST <i class="fa fa-flag" style="color:red;"></i>
                        <a class="btn btn-info" href="#">Done<i class="fa fa-check fa-lg"></i><i class="fa fa-flag" style="color:red;"></i></a> -->
                        
                        
                    </apex:panelGroup>
                </apex:pageBlockSectionItem> 
                     
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem> 

                <apex:pageBlockSectionItem >
                    <apex:panelGrid columns="4" id="venuePanel" >             
                        <script>
                            clearSelectorList();
                            clearSelectedList();
                        </script>
                        <apex:panelGrid columns="1">
                            <apex:outputPanel layout="block" style="overflow:auto;min-width:550px;height:250px;background: #FFFFFF;border:2px inset;" >
                                <apex:dataTable styleClass="hoverTable" value="{!transferCandidatesMap}" var="v" headerClass="headerStyle">
                                    <apex:repeat value="{!additionalFieldsList}" var="fm">   
                                        <apex:column styleClass="inHoverTable" onclick="addToSelectorList('{!v}', this)" >
                                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                            <apex:outputPanel >
                                                <apex:outputText value="{!transferCandidatesMap[v].affiliationRecord[fm.fApiName]}"></apex:outputText>
                                            </apex:outputPanel>
                                        </apex:column>
                                    </apex:repeat>
                                    <apex:repeat value="{!selectorVenuesFieldNamesList}" var="fm">   
                                        <apex:column styleClass="inHoverTable" onclick="addToSelectorList('{!v}', this)" >
                                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                            <apex:outputPanel >
                                                <apex:outputText value="{!transferCandidatesMap[v].venueRecord[fm.fApiName]}"></apex:outputText>
                                            </apex:outputPanel>
                                        </apex:column>
                                    </apex:repeat>
                                    <apex:repeat value="{!selectorAccountsFieldNamesList}" var="fm">   
                                        <apex:column styleClass="inHoverTable" onclick="addToSelectorList('{!v}', this)" >
                                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                            <apex:outputPanel >
                                                <apex:outputField value="{!transferCandidatesMap[v].accountRecord[fm.fApiName]}"></apex:outputField>
                                            </apex:outputPanel>
                                        </apex:column>
                                    </apex:repeat>
                                </apex:dataTable>
                            </apex:outputPanel>
                        </apex:panelGrid>

                        <apex:panelGrid columns="1" columnClasses="listButtons">
                            <p style="margin-top:70px"/>
                            <!-- center>Add</center -->
                            <div align="center" draggable="false" >
                                <apex:commandButton styleClass="largeButton" value=" ► " onclick="passSelectorListToClass(); return false;" />
                                <apex:commandButton styleClass="largeButton" value=" ◄ " onclick="passSelectedListToClass(); return false;" />                               
                            </div>
                            <!-- center>Remove</center -->
                        </apex:panelGrid>

                        <apex:panelGrid columns="1" styleClass="text-align: center;"> 
                            <apex:outputPanel layout="block" style="overflow:auto;width:500px;height:250px;background: #FFFFFF;border:2px inset;" >
                                <apex:dataTable styleClass="hoverTable" value="{!transferSelectionsMap}" var="v" headerClass="headerStyle">  
                                    <!-- <apex:repeat value="{!additionalFieldsList}" var="fm">   
                                        <apex:column styleClass="inHoverTable" onclick="addToSelectedList('{!v}', this)" >
                                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                            <apex:outputPanel >
                                                <apex:outputText value="{!transferCandidatesMap[v].affiliationRecord[fm.fApiName]}"></apex:outputText>
                                            </apex:outputPanel>
                                        </apex:column>
                                    </apex:repeat> -->
                                    <apex:repeat value="{!additionalFieldsList}" var="fm"> 
                                         <apex:column styleClass="inHoverTable" onclick="addToSelectedList('{!v}', this)" >
                                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                            <apex:outputPanel >
                                                <apex:outputText value="{!transferSelectionsMap[v].affiliationRecord[fm.fApiName]}"></apex:outputText>
                                            </apex:outputPanel>
                                        </apex:column>
                                    </apex:repeat>
                                    <apex:repeat value="{!selectedVenuesFieldNamesList}" var="fm"> 
                                         <apex:column styleClass="inHoverTable" onclick="addToSelectedList('{!v}', this)" >
                                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                            <apex:outputPanel >
                                                <apex:outputText value="{!transferSelectionsMap[v].venueRecord[fm.fApiName]}"></apex:outputText>
                                            </apex:outputPanel>
                                        </apex:column>
                                    </apex:repeat>
                                </apex:dataTable>
                            </apex:outputPanel>
                        </apex:panelGrid>
                        
                    </apex:panelGrid>
                </apex:pageBlockSectionItem>

                <!-- overarching values - affiliation fields -->
                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                        <div style="overflow-y: auto; min-width: 300px; max-width: 500px; height: 207px;">
                        <table cellspacing="5px">
                            <apex:repeat value="{!overarchingFieldNamesList}" var="fm">
                                <apex:outputPanel >
                                    <tr>
                                        <td>{!fm.fLabel}</td>
                                        <td>
                                            <apex:inputField styleClass="overarchingValuesMarker" html-data-apiname="{!fm.fApiName}" value="{!overarchingValuesBinder[fm.fApiName]}" required="false"/>
                                        </td>
                                    </tr>
                                </apex:outputPanel>
                            </apex:repeat>
                        </table>
                        </div>
                        <br/>
                        <!-- p style="margin-top:170px"/ -->
                        <apex:commandButton value="  Add to List  " status="status" onclick="sendOverarchingValues(); return false;" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

            </apex:pageBlockSection>
        </apex:pageBlock>
        </apex:outputPanel>
        
        <apex:outputPanel id="displayTableList">
        <apex:pageBlock title="Add Dates">
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <!-- <apex:outputPanel id="transferSelectionsAreaBottom"> -->
                        <!-- <table>
                            <apex:repeat value="{!transferSelectionsMap}" var="tfKey">
                                <tr>
                                    <td>
                                        <apex:outputLink value="#" id="theLink" onclick="removeFromTransferSelections('{!tfKey}'); return false;" >
                                            Remove
                                        </apex:outputLink>
                                    </td>
                                    <td> | </td>
                                    <td>
                                        {!transferSelectionsMap[tfKey].affiliationRecord.Name}
                                    </td>
                                    <td>-</td>
                                    <apex:repeat value="{!selectedVenuesFieldNamesList}" var="fm">
                                        <td>
                                            <apex:outputField value="{!transferSelectionsMap[tfKey].venueRecord[fm.fApiName]}"/>
                                        </td>
                                    </apex:repeat>
                                    <apex:repeat value="{!overarchingFieldNamesList}" var="fm">
                                        <td>
                                            <apex:inputField value="{!transferSelectionsMap[tfKey].affiliationRecord[fm.fApiName]}"/>
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                        </table> -->

                    <apex:panelGrid columns="1"> 
                        <apex:outputPanel layout="block" style="overflow:auto;min-width:1100px;height:250px;background: #FFFFFF;border:2px inset;" id="transferSelectionsAreaBottom">
                            <apex:dataTable styleClass="dateReasonTable" value="{!transferSelectionsDisplayMap}" var="tfKey" headerClass="headerStyle">  
                                <!-- <apex:column style="width:150px;height:25px;"> -->
                                <apex:column styleClass="inHoverTable">
                                    <apex:facet name="header"></apex:facet>
                                    <apex:outputLink value="#" id="theLink" onclick="removeFromTransferSelections('{!tfKey}'); return false;" >
                                        Remove
                                    </apex:outputLink>
                                </apex:column> 
                                <apex:column styleClass="inHoverTable"> 
                               <!--  <apex:column style="width:325px"> -->
                                    <apex:facet name="header">Affiliation Name</apex:facet>
                                    <apex:outputLabel value="{!transferSelectionsDisplayMap[tfKey].affiliationRecord.Name}">
                                    </apex:outputLabel>
                                </apex:column> 
                                <apex:repeat value="{!selectedVenuesFieldNamesList}" var="fm">
                                    <apex:column styleClass="inHoverTable">
                                   <!--  <apex:column style="width:325px"> -->
                                        <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                        <apex:outputField value="{!transferSelectionsDisplayMap[tfKey].venueRecord[fm.fApiName]}"/>
                                    </apex:column>
                                </apex:repeat>
                                <apex:repeat value="{!overarchingFieldNamesList}" var="fm">
                                    <apex:column styleClass="inHoverTable">
                                    <!-- <apex:column style="width:200px"> -->
                                        <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                        <apex:inputField value="{!transferSelectionsDisplayMap[tfKey].affiliationRecord[fm.fApiName]}">
                                            <!-- <apex:actionSupport event="onchange" rerender="transferSelectionsAreaBottom" status="status"/> -->
                                        </apex:inputField>
                                    </apex:column>
                                </apex:repeat>
                                <apex:repeat value="{!selectedAffiliationsFieldNamesList}" var="fm">
                                    <apex:column styleClass="inHoverTable">
                                        <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                        <apex:inputField value="{!transferSelectionsDisplayMap[tfKey].affiliationRecord[fm.fApiName]}"/>
                                    </apex:column>
                                </apex:repeat>
                            </apex:dataTable>
                        </apex:outputPanel>
                    </apex:panelGrid>
                   <!--  </apex:outputPanel> -->
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputPanel id="btnConfirmAcquisition" layout="block" style="float: left;">
                        <apex:commandButton rendered="{!hasAffiliations}" value="  Finish  " action="{!confirmAcquisition}" rerender="showmsg, step2, loadstatus, procOutput" status="status"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>     
            </apex:pageBlockSection>
        </apex:pageBlock>
        </apex:outputPanel>
        <!-- <apex:outputPanel id="displayTableList2">
        <apex:pageBlock title="transferSelectionsDisplayMap">
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:panelGrid columns="1"> 
                        <apex:outputPanel layout="block" style="overflow:auto;min-width:1100px;height:250px;background: #FFFFFF;border:2px inset;" id="transferSelectionsAreaBottom2">
                            <apex:dataTable styleClass="dateReasonTable" value="{!transferSelectionsDisplayMap}" var="tfKey" headerClass="headerStyle">   
                                <apex:column styleClass="inHoverTable"> 
                                    <apex:facet name="header">Affiliation Name</apex:facet>
                                    <apex:outputLabel value="{!transferSelectionsDisplayMap[tfKey].affiliationRecord.Name}">
                                    </apex:outputLabel>
                                </apex:column> 
                                <apex:repeat value="{!selectedVenuesFieldNamesList}" var="fm">
                                    <apex:column styleClass="inHoverTable">
                                        <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                        <apex:outputField value="{!transferSelectionsDisplayMap[tfKey].venueRecord[fm.fApiName]}"/>
                                    </apex:column>
                                </apex:repeat>
                                <apex:repeat value="{!overarchingFieldNamesList}" var="fm">
                                    <apex:column styleClass="inHoverTable">
                                        <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                        <apex:outputLabel value="{!transferSelectionsDisplayMap[tfKey].affiliationRecord[fm.fApiName]}"/>
                                    </apex:column>
                                </apex:repeat>
                                <apex:repeat value="{!selectedAffiliationsFieldNamesList}" var="fm">
                                    <apex:column styleClass="inHoverTable">
                                        <apex:facet name="header">{!fm.fLabel}</apex:facet>
                                        <apex:outputLabel value="{!transferSelectionsDisplayMap[tfKey].affiliationRecord[fm.fApiName]}"/>
                                    </apex:column>
                                </apex:repeat>
                            </apex:dataTable>
                        </apex:outputPanel>
                    </apex:panelGrid>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        </apex:outputPanel> -->
        <!-- <br/><br/>
        <apex:outputPanel id="procOutput"> 
            <apex:outputPanel >
                <progress class="skill-1" max="{!venueSize}" value="{!venueProgress}"></progress>
                <apex:outputPanel rendered="{!IF(venueProgress > 0, true, false)}">
                Processing {!venueProgress} of {!venueSize} Venue(s).<br/>
                Size:{!processSize}<br/>
                Step:{!stepNumber}<br/>
                transferSelectionsToPassMap
                <apex:dataTable styleClass="dateReasonTable" value="{!transferSelectionsToPassMap}" var="tfKey" headerClass="headerStyle">   
                    <apex:column styleClass="inHoverTable"> 
                        <apex:facet name="header">Affiliation Name</apex:facet>
                        <apex:outputLabel value="{!transferSelectionsToPassMap[tfKey].affiliationRecord.Name}">
                        </apex:outputLabel>
                    </apex:column> 
                    <apex:repeat value="{!selectedVenuesFieldNamesList}" var="fm">
                        <apex:column styleClass="inHoverTable">
                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                            <apex:outputField value="{!transferSelectionsToPassMap[tfKey].venueRecord[fm.fApiName]}"/>
                        </apex:column>
                    </apex:repeat>
                    <apex:repeat value="{!overarchingFieldNamesList}" var="fm">
                        <apex:column styleClass="inHoverTable">
                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                            <apex:outputLabel value="{!transferSelectionsToPassMap[tfKey].affiliationRecord[fm.fApiName]}"/>
                        </apex:column>
                    </apex:repeat>
                    <apex:repeat value="{!selectedAffiliationsFieldNamesList}" var="fm">
                        <apex:column styleClass="inHoverTable">
                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                            <apex:outputLabel value="{!transferSelectionsToPassMap[tfKey].affiliationRecord[fm.fApiName]}"/>
                        </apex:column>
                    </apex:repeat>
                </apex:dataTable>
                transferSelectionsDisplayMap
                <apex:dataTable styleClass="dateReasonTable" value="{!transferSelectionsDisplayMap}" var="tfKey" headerClass="headerStyle">   
                    <apex:column styleClass="inHoverTable"> 
                        <apex:facet name="header">Affiliation Name</apex:facet>
                        <apex:outputLabel value="{!transferSelectionsDisplayMap[tfKey].affiliationRecord.Name}">
                        </apex:outputLabel>
                    </apex:column> 
                    <apex:repeat value="{!selectedVenuesFieldNamesList}" var="fm">
                        <apex:column styleClass="inHoverTable">
                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                            <apex:outputField value="{!transferSelectionsDisplayMap[tfKey].venueRecord[fm.fApiName]}"/>
                        </apex:column>
                    </apex:repeat>
                    <apex:repeat value="{!overarchingFieldNamesList}" var="fm">
                        <apex:column styleClass="inHoverTable">
                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                            <apex:outputLabel value="{!transferSelectionsDisplayMap[tfKey].affiliationRecord[fm.fApiName]}"/>
                        </apex:column>
                    </apex:repeat>
                    <apex:repeat value="{!selectedAffiliationsFieldNamesList}" var="fm">
                        <apex:column styleClass="inHoverTable">
                            <apex:facet name="header">{!fm.fLabel}</apex:facet>
                            <apex:outputLabel value="{!transferSelectionsDisplayMap[tfKey].affiliationRecord[fm.fApiName]}"/>
                        </apex:column>
                    </apex:repeat>
                </apex:dataTable>
                Loop number:{!loopCtr} 
                </apex:outputPanel>   
            </apex:outputPanel>
        </apex:outputPanel> -->
        <apex:outputPanel id="detail">
            <apex:outputPanel id="step2" >
                <apex:actionFunction name="conAcquisition2" action="{!confirmAcquisition2}" rerender="step2, step3, showmsg, loadstatus, procOutput" status="loadstatus"/>
                <apex:outputPanel rendered="{!stepNumber = 2}">
                    <script>
                        conAcquisition2();
                    </script>
                </apex:outputPanel>
            </apex:outputPanel>
            
            <apex:outputPanel id="step3" >
                <apex:actionFunction name="conAcquisition3" action="{!confirmAcquisition3}" rerender="step2, step3, showmsg, loadstatus, procOutput"/>
                <apex:outputPanel rendered="{!stepNumber = 3}">
                    <script>
                        conAcquisition3();
                    </script>
                </apex:outputPanel>
            </apex:outputPanel>
        </apex:outputPanel> 
    </apex:form>
</apex:page>