<apex:page extensions="SMP_PaymentWizardController" standardController="Account" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <script>
            function toggle(checkboxElement) {
                var toggleDisableCheckboxes = checkboxElement.checked;
                var input = document.getElementsByTagName('input'); 
                var i = input.length; 

                while (i--) { 
                    if (input[i].type === 'checkbox' && !input[i].checked && toggleDisableCheckboxes) {
                        input[i].setAttribute('disabled', 'disabled'); 
                    }else{
                        input[i].removeAttribute('disabled'); 
                    }
                } 
            }
        </script>
    </head>
    <apex:slds />
    <apex:form id="theForm">
        <apex:actionFunction id="calculatePayments" name="calculatePayments" action="{!calculatePaymentSchedules}" status="calculatePayments" />
        <apex:actionFunction action="{!recalculateTotals}" name="calculateTotals" />
        <apex:actionFunction action="{!validateBankDetails}" name="validateBankDetails" />
        <apex:actionFunction action="{!validateBankDetails}" name="allowOneSelection" />
        <apex:actionFunction action="{!validatePaymentDates}" name="validatePaymentDates" />
        <apex:actionFunction action="{!showSpinner}" name="showSpinnerAndsFinalise" oncomplete="finalisePaymentDetails();" />
        <apex:actionFunction action="{!finalisePaymentDetails}" name="finalisePaymentDetails" />
        <apex:actionFunction name="agreeCheckChanged" reRender="theForm"/>
        <div class="slds-scope slds-m-around_small">
            <div class="slds-page-header" role="banner">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate">
                        <div class="slds-media slds-no-space slds-grow">
                            <div class="slds-media__figure">
                            </div>
                            <div class="slds-media__body">
                                <p class="slds-text-title--caps slds-line-height--reset">Direct Debit Setup</p>
                                <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">
                                    <apex:outputText value="{!Account.Name}"/> 
                                </h1>
                                <p class="slds-text-body--small slds-page-header__info"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <article class="slds-card slds-m-top_small">                
            <div class="slds-card__header slds-grid" style="padding: .5rem .75rem 0; margin: 0 0 .5rem;">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-path slds-size_1-of-1">
                        <div class="slds-grid slds-path__track" style="padding-top: .5rem; padding-bottom: .5rem; padding-left: .75rem; padding-right: .75rem;">
                            <div class="slds-grid slds-path__scroller-container">
                                <div class="slds-path__scroller" role="application">
                                    <div class="slds-path__scroller_inner">
                                        <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">     
                                            <apex:outputPanel id="ExistingDirectDebitMenu" rendered="{!newDirectDebit == false}" >
                                                <li class="{!IF(stepNo >= 0, 'slds-path__item slds-is-current slds-is-active', 'slds-path__item slds-is-incomplete')}" role="presentation">
                                                    <a aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-1" role="option" tabindex="-1">
                                                        <span class="slds-path__stage">
                                                            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                                            </svg>
                                                        </span>
                                                        <span class="slds-path__title">Select Direct Debit</span>
                                                    </a>
                                                </li>   
                                            </apex:outputPanel>                                       
                                            <li class="{!IF(stepNo >= 1, 'slds-path__item slds-is-current slds-is-active', 'slds-path__item slds-is-incomplete')}" role="presentation">
                                                <a aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-2" role="option" tabindex="-1">
                                                    <span class="slds-path__stage">
                                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                                        </svg>
                                                    </span>
                                                    <span class="slds-path__title">Sales Invoices</span>
                                                </a>
                                            </li>
                                            <li class="{!IF(stepNo >= 2, 'slds-path__item slds-is-current slds-is-active', 'slds-path__item slds-is-incomplete')}" role="presentation">
                                                <a aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-2" role="option" tabindex="-1">
                                                    <span class="slds-path__stage">
                                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                                        </svg>
                                                    </span>
                                                    <span class="slds-path__title">Billing Information</span>
                                                </a>
                                            </li>
                                            <li class="{!IF(stepNo >= 3, 'slds-path__item slds-is-current slds-is-active', 'slds-path__item slds-is-incomplete')}" role="presentation">
                                                <a aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-3" role="option" tabindex="-1">
                                                    <span class="slds-path__stage">
                                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                                        </svg>
                                                    </span>
                                                    <span class="slds-path__title">Payment Details</span>
                                                </a>
                                            </li>
                                            <li class="{!IF(stepNo >= 4, 'slds-path__item slds-is-current slds-is-active', 'slds-path__item slds-is-incomplete')}" role="presentation">
                                                <a aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-4" role="option" tabindex="-1">
                                                    <span class="slds-path__stage">
                                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                                        </svg>
                                                    </span>
                                                    <span class="slds-path__title">Confirmation/Payment</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                             
                        </div>
                    </div>
                </header>
            </div>
        </article>
        <apex:pageMessages />
        <apex:outputPanel id="ExistingDirectDebitPanel" rendered="{!stepNo == 0}" >
            <article class="slds-card slds-m-top_small">
                <div class="slds-card__body slds-card__body_inner">
                    <div class="slds-grid slds-wrap slds-grid--pull-padded">
                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                                <div class="slds-text-heading_medium">Select Direct Debit</div>
                            </div>
                            <div class="slds-tile slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-tile__detail">
                                        <div class="slds-form-element">
                                            <div class="slds-form__row slds-m-top_large">
                                                <div class="slds-form__item" role="listitem">
                                                    <div class="slds-form-element slds-form-element_horizontal">
                                                        <table class="slds-table slds-table_cell-buffer slds-table_header-hidden slds-table_bordered">
                                                            <tbody> 
                                                                <tr>
                                                                    <td>
                                                                        AUDDIS Ref
                                                                    </td>
                                                                    <td>
                                                                        Next Collection Date
                                                                    </td>
                                                                    <td>
                                                                        Amount
                                                                    </td>
                                                                    <td>
                                                                        Selected
                                                                    </td>
                                                                </tr>                                                       
                                                                <apex:repeat value="{!existingDirectDebitWrapperList}" var="existingDD" id="ddRepeat" >
                                                                    <tr>
                                                                        <td>
                                                                            {!existingDD.directDebit.Name}
                                                                        </td>
                                                                        <td>
                                                                            <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                                                                                <apex:param value="{!existingDD.directDebit.DD_Next_Collection_Date__c}" /> 
                                                                            </apex:outputText>
                                                                        </td>
                                                                        <td>
                                                                            <apex:outputText value="£{0, number, ###,###,###,###0.00}">  
                                                                                <apex:param value="{!existingDD.directDebit.DD_Ongoing_Collection_Amount__c}"/>  
                                                                            </apex:outputText>  
                                                                        </td>
                                                                        <td>
                                                                            <apex:inputCheckbox id="selectGinRow" value="{!existingDD.selected}" onchange="toggle(this)"></apex:inputCheckbox>
                                                                        </td>
                                                                    </tr>
                                                                </apex:repeat>                                                          
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="slds-card__footer" style="text-align:left;">    
                    <apex:commandButton value="Cancel" style="width:150px;" action="{!cancel}" styleclass="slds-button slds-button_neutral"/>
                    <apex:commandButton value="Next" action="{!next}" style="width:150px;" styleclass="slds-button slds-button_brand"/>
                    <apex:commandButton value="New Direct Debit" action="{!newDirectDebit}" style="width:150px;" styleclass="slds-button slds-button_brand"/>
                    <!-- <apex:commandButton value="Repeat Payment" action="{!newRepeatPayment}" style="width:150px;" styleclass="slds-button slds-button_brand"/> -->
                </footer>
            </article>
        </apex:outputPanel>
        
        <apex:outputPanel id="InvoiceGroupPanel" rendered="{!stepNo == 1}">
            <article class="slds-card slds-m-top_small">
                <div class="slds-card__body slds-card__body_inner">
                    <div class="slds-grid slds-wrap slds-grid--pull-padded">
                        <div class="slds-p-horizontal--med slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                        <div style="text-align: center"><b><label>Direct Debit statement</label></b></div><br/>
                            
                        <ul>
                            <li>
                                &nbsp;&nbsp;&nbsp;&nbsp;<b>Mandatory - You must read this statement before setting up the Direct Debit.</b>
                            </li>
                            <li>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Should any instalment payment not be received on the relevant due date or any payment received fail to be honoured, then the remaining balance of the licence royalties will become due and payable immediately.
                            </li>
                            <li>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Please can you confirm that you hold a UK Bank / Building Society Account and you are the Account Holder or authorised to set up such payments?
                            </li>
                            <li>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Please can I confirm that you are the only person required to authorise debits from this Account?<br/>
                            </li>
                        </ul>
                        </div>
                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top"><br/>
                                <div class="slds-text-heading_medium">Sales Invoices</div>
                            </div>
                            <div class="slds-tile slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-tile__detail">
                                        <div class="slds-form-element">
                                            <div class="slds-form__row slds-m-top_large">
                                                <div class="slds-form__row">
                                                    <div class="slds-form__item" role="listitem">
                                                        <div class="slds-form-element slds-form-element_horizontal">
                                                            <table class="slds-table slds-table_cell-buffer slds-table_header-hidden slds-table_bordered">
                                                                <tbody> 
                                                                    <tr>
                                                                        <td>
                                                                            Sales Invoice Name
                                                                        </td>
                                                                        <td>
                                                                            Outstanding Value
                                                                        </td>
                                                                        <td>
                                                                            Selected
                                                                        </td>
                                                                    </tr>                                                       
                                                                    <apex:repeat value="{!salesInvoiceWrapperList}" var="si" id="therepeat">
                                                                        <apex:outputPanel rendered="{!si.hasDD == false && si.totalInvoiceValue > 0}">
                                                                            <tr>
                                                                                <td>
                                                                                    {!si.Name}
                                                                                </td>
                                                                                <td> 
                                                                                    £{!si.totalInvoiceValue}
                                                                                </td>
                                                                                <td>
                                                                                    <apex:inputCheckbox value="{!si.selected}" onclick="calculateTotals();"/>
                                                                                </td>
                                                                            </tr>
                                                                        </apex:outputPanel>
                                                                    </apex:repeat>                                                          
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form__row">
                                                    <div class="slds-form__item" role="listitem">
                                                        <div class="slds-form-element slds-form-element_horizontal">
                                                            <label class="slds-form-element__label" for="form-element-01">Total amount to take</label>
                                                            <div class="slds-form-element__control">
                                                                <apex:outputText styleClass="slds-input" value="£{!amount}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="slds-card__footer" style="text-align:left;">    
                    <apex:commandButton value="Cancel" style="width:150px;" action="{!cancel}" styleclass="slds-button slds-button_neutral"/>
                    <apex:commandButton value="Back" style="width:150px;" action="{!back}" styleclass="slds-button slds-button_neutral" rendered="{!showBackonFirstPage == true}"/>
                    <apex:commandButton value="Next" action="{!next}" style="width:150px;" styleclass="slds-button slds-button_brand"/>
                    <!-- <apex:commandButton value="Repeat Payment" action="{!newRepeatPaymentNoDD}" style="width:150px;" styleclass="slds-button slds-button_brand"/> -->
                </footer>
            </article>
        </apex:outputPanel>
        <apex:outputPanel id="billingInfoPanel" rendered="{!stepNo == 2}">
            <article class="slds-card slds-m-top_small">
                <apex:outputPanel id="billingInfoPanelBody" layout="block">
                    <div class="slds-card__body slds-card__body_inner">
                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                            <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                                <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                                    <div class="slds-text-heading_medium">Billing Information</div>
                                </div>
                                <div class="slds-form" role="list">
                                    <div class="slds-form__row">
                                        <div class="slds-form__item" role="listitem">
                                            <div class="slds-form-element slds-form-element_horizontal">
                                                <label class="slds-form-element__label" for="form-element-01">First Name</label>
                                                <div class="slds-form-element__control">
                                                    <apex:inputField required="true" styleClass="slds-input" value="{!contact.FirstName}" taborderhint="1" html-disabled="true"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-form__item" role="listitem">
                                            <div class="slds-form-element slds-form-element_horizontal">
                                                <label class="slds-form-element__label" for="form-element-01">Street</label>
                                                <div class="slds-form-element__control">
                                                    <apex:inputField required="true" styleClass="slds-input" value="{!contact.MailingStreet}" taborderhint="2" html-disabled="true"/>
                                                </div>
                                            </div>
                                        </div>                          
                                    </div>
                                    <div class="slds-form__row">
                                        <div class="slds-form__item" role="listitem">
                                            <div class="slds-form-element slds-form-element_horizontal">
                                                <label class="slds-form-element__label" for="form-element-01">Last Name</label>
                                                <div class="slds-form-element__control">
                                                    <apex:inputField required="true" styleClass="slds-input" value="{!contact.LastName}" taborderhint="3" html-disabled="true"/>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="slds-form__item" role="listitem">
                                            <div class="slds-form-element slds-form-element_horizontal">
                                                <label class="slds-form-element__label" for="form-element-01">City</label>
                                                <div class="slds-form-element__control">
                                                    <apex:inputField required="true" styleClass="slds-input" value="{!contact.MailingCity}" taborderhint="4" html-disabled="true"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form__row">
                                        <div class="slds-form__item" role="listitem">
                                            <div class="slds-form-element slds-form-element_horizontal">
                                                <label class="slds-form-element__label" for="form-element-01">Email</label>
                                                <div class="slds-form-element__control">
                                                    <apex:inputField required="false" styleClass="slds-input" value="{!contact.Email}" taborderhint="5" html-disabled="true"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-form__item" role="listitem">
                                            <div class="slds-form-element slds-form-element_horizontal">
                                                <label class="slds-form-element__label" for="form-element-01">Post Code</label>
                                                <div class="slds-form-element__control">
                                                    <apex:inputField required="true" styleClass="slds-input" value="{!contact.MailingPostalCode}" taborderhint="6" html-disabled="true"/>
                                                </div>
                                            </div>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-card__footer" style="text-align:left;">
                        <apex:outputPanel >
                            <apex:commandButton style="width:150px;" value="Cancel" action="{!cancel}" styleclass="slds-button slds-button_neutral"/>
    
                            <apex:commandButton value="Back" style="width:150px;" action="{!back}" styleclass="slds-button slds-button_neutral"/>
    
                            <apex:commandButton style="width:150px;" value="Next" action="{!next}" styleclass="slds-button slds-button_brand" />
                        </apex:outputPanel>
                    </footer>
                </apex:outputPanel>                    
            </article> 
        </apex:outputPanel>
        <apex:outputPanel id="paymentDetailsPanelRepeat" rendered="{!stepNo == 3 && newRepeatPayment == true}">
            <article class="slds-card slds-m-top_small">
                <div class="slds-grid">
                    
                    
                    <div class="slds-col slds-clearfix slds-size_NaN-of-NaN slds-medium-size_6-of-12" dropzone="grid column 1" style="padding:2%;">
                        <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                            <div class="slds-text-heading_medium">Payment Details</div>
                        </div>
                        <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                            <div class="slds-form-element">
                                
                            </div>
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                                <div class="slds-form-element  "><label class="slds-form-element__label"><span>Amount to Take By Card</span></label>
                                    <div class="slds-form-element__control"><apex:inputText styleclass="slds-input" value="{!cardPaymentAmount}" onchange="validatePaymentDates();"/></div>
                                </div>
                            </div>    
                        </div>
                        <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                                <div class="slds-form-element  "><label class="slds-form-element__label"><span>Total Amount to Take</span></label>
                                    <div class="slds-form-element__control"><input class="slds-input" type="text" value="£{!amount}" readonly="true" /></div>
                                </div>
                            </div>
                            <div class="slds-tile slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-tile__detail">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="form-element-01" rendered="{!newDirectDebit == true || newRepeatPayment == true}">Collection Frequency</label>
                                            <div class="slds-form-element__control">
                                                <apex:selectList value="{!selectedFrequency}" multiselect="false" size="1" styleClass="slds-input" onchange="validatePaymentDates();" rendered="{!newDirectDebit == true || newRepeatPayment == true}">
                                                    <apex:selectOptions value="{!CollectionFrequency}"/>
                                                </apex:selectList>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-tile slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-tile__detail">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="form-element-01">Collection Day</label>
                                            <div class="slds-form-element__control">
                                                <!-- <apex:selectList value="{!selectedDay}" multiselect="false"onchange="calculatePayments();" readonly="{!!newDirectDebit}">
                                                    readonly="{!!newDirectDebit}"
                                                    <apex:selectOptions value="{!InstallmentDays}"/>
                                                </apex:selectList>       -->
                                                <!-- <apex:inputField value="{!directDebit.DD_First_Collection_Date__c}"  onchange="calculatePayments();" />                 -->
                                                
                                                <apex:input type="date" styleClass="slds-input" value="{!firstCollectionDate}" onchange="validatePaymentDates();"/>
                                               
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-tile slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-tile__detail">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="form-element-01">Number of Collections</label>
                                            <div class="slds-form-element__control">
                                                <apex:selectList id="installmentRange" value="{!selectedRange}" multiselect="false" size="1" styleClass="slds-input" onchange="calculatePayments();">
                                                    <apex:selectOptions value="{!InstallmentRange}"/>
                                                </apex:selectList>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="canvas-element" closertotopclass="canvas-element--closer-to-top" style="padding: 2%;">
                            <div class="slds-form__row slds-m-top_large">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <table class="slds-table slds-table_cell-buffer slds-table_header-hidden slds-table_bordered">
                                            <tbody>     
                                                <tr>
                                                    <td>
                                                        Collection Date
                                                    </td>
                                                    <td>
                                                        Collection Amount
                                                    </td>
                                                </tr>                                                               
                                                <apex:repeat value="{!paymentList}" var="payments" id="paymentsRepeatRP">
                                                <tr>
                                                    <td>
                                                        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                                                            <apex:param value="{!payments.paymentDate}" /> 
                                                        </apex:outputText>
                                                    </td>
                                                    <td>
                                                        <apex:outputText value="£{0, number, ###,###,###,###0.00}">  
                                                            <apex:param value="{!payments.paymentAmount}"/>  
                                                        </apex:outputText>  
                                                        <!-- <apex:repeat value="{!payments.lineItemList}" var="lil" id="li">
                                                            <td>
                                                                <apex:outputText value="£{0, number, ###,###,###,###0.00}">  
                                                                    <apex:param value="{!lil.c2g__Amount__c}"/>  
                                                                </apex:outputText>  
                                                            </td>
                                                        </apex:repeat> -->
                                                    </td>
                                                </tr>
                                                </apex:repeat>                                                          
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="canvas-element" closertotopclass="canvas-element--closer-to-top" style="padding: 2%;">
                            <div class="slds-form__row slds-m-top_large">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <table class="slds-table slds-table_cell-buffer slds-table_header-hidden slds-table_bordered">
                                            <tbody>     
                                                <tr>
                                                    <td>
                                                        Collection Date
                                                    </td>
                                                    <td>
                                                        Collection Amount
                                                    </td>
                                                </tr>                                                               
                                                <apex:repeat value="{!invoiceInstallmentList}" var="payments" id="paymentsRepeats">
                                                <tr>
                                                    <td>
                                                        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                                                            <apex:param value="{!payments.c2g__DueDate__c}" /> 
                                                        </apex:outputText>
                                                    </td>
                                                    <td>
                                                        <apex:outputText value="£{0, number, ###,###,###,###0.00}">  
                                                            <apex:param value="{!payments.c2g__Amount__c}"/>  
                                                        </apex:outputText>  
                                                    </td>
                                                </tr>
                                                </apex:repeat>                                                          
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <footer class="slds-card__footer" style="text-align:left;">
                    <apex:outputPanel >
                        <apex:commandButton style="width:150px;" value="Cancel" action="{!cancel}" styleclass="slds-button slds-button_neutral"/>

                        <apex:commandButton value="Back" style="width:150px;" action="{!back}" styleclass="slds-button slds-button_neutral"/>

                        <apex:commandButton style="width:150px;" value="Next" action="{!next}" styleclass="slds-button slds-button_brand"/>
                    </apex:outputPanel>
                </footer>
        </article>
    </apex:outputPanel>
    <apex:outputPanel id="paymentDetailsPanelDD" rendered="{!stepNo == 3 && newRepeatPayment == false}">
            <article class="slds-card slds-m-top_small">
                <div class="slds-grid">
                    
                    <div class="slds-col slds-clearfix slds-size_NaN-of-NaN slds-medium-size_6-of-12" dropzone="grid column 0" style="padding:2%;">
                        
                            <div class="slds-form__row slds-m-top_large">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <label class="slds-form-element__label" for="form-element-01">Account Name</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputField value="{!directDebit.DD_Bank_Account_Name__c}" styleclass="slds-input"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <label class="slds-form-element__label" for="form-element-01">Account Number</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputField value="{!directDebit.DD_Bank_Account_Number__c}" styleclass="slds-input" onchange="validateBankDetails();" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <label class="slds-form-element__label" for="form-element-01">Account Sort Code</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputField value="{!directDebit.DD_Bank_Sort_Code__c}" styleclass="slds-input" onchange="validateBankDetails();" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <label class="slds-form-element__label" for="form-element-01">{!$ObjectType.Income_Direct_Debit__c.fields.DD_Account_Number_OK__c.label}</label>
                                        <div class="slds-form-element__control">
                                            <apex:outputField value="{!directDebit.DD_Account_Number_OK__c}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <label class="slds-form-element__label" for="form-element-01">{!$ObjectType.Income_Direct_Debit__c.fields.DD_Sort_Code_OK__c.label}</label>
                                        <div class="slds-form-element__control">
                                            <apex:outputField value="{!directDebit.DD_Sort_Code_OK__c}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <label class="slds-form-element__label" for="form-element-01">{!$ObjectType.Income_Direct_Debit__c.fields.DD_Bank_Name__c.label}</label>
                                        <div class="slds-form-element__control">
                                            <apex:outputField value="{!directDebit.DD_Bank_Name__c}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <label class="slds-form-element__label" for="form-element-01">{!$ObjectType.Income_Direct_Debit__c.fields.DD_Branch_Name__c.label}</label>
                                        <div class="slds-form-element__control">
                                            <apex:outputField value="{!directDebit.DD_Branch_Name__c}"/>
                                        </div>
                                    </div>                                      
                                </div>
                            </div>
                        </div>
                    
                    <div class="slds-col slds-clearfix slds-size_NaN-of-NaN slds-medium-size_6-of-12" dropzone="grid column 1" style="padding:2%;">
                        <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                            <div class="slds-text-heading_medium">Payment Details</div>
                        </div>
                        <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                            <div class="slds-form-element">
                                
                            </div>
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                                <div class="slds-form-element  "><label class="slds-form-element__label"><span>Amount to Take By Card</span></label>
                                    <div class="slds-form-element__control"><apex:inputText styleclass="slds-input" value="{!cardPaymentAmount}" onchange="validatePaymentDates();"/></div>
                                </div>
                            </div>    
                        </div>
                        <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                                <div class="slds-form-element  "><label class="slds-form-element__label"><span>Total Amount to Take</span></label>
                                    <div class="slds-form-element__control"><input class="slds-input" type="text" value="£{!amount}" readonly="true" /></div>
                                </div>
                            </div>
                            <div class="slds-tile slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-tile__detail">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="form-element-01" rendered="{!newDirectDebit == true || newRepeatPayment == true}">Collection Frequency</label>
                                            <div class="slds-form-element__control">
                                                <apex:selectList value="{!selectedFrequency}" multiselect="false" size="1" styleClass="slds-input" onchange="validatePaymentDates();" rendered="{!newDirectDebit == true || newRepeatPayment == true}">
                                                    <apex:actionSupport event="onchange" reRender="installmentRange,installments2" />
                                                    <apex:selectOptions value="{!CollectionFrequency}"/>
                                                </apex:selectList>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-tile slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-tile__detail">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="form-element-01">Collection Day</label>
                                            <div class="slds-form-element__control">
                                                <!-- <apex:selectList value="{!selectedDay}" multiselect="false"onchange="calculatePayments();" readonly="{!!newDirectDebit}">
                                                    readonly="{!!newDirectDebit}"
                                                    <apex:selectOptions value="{!InstallmentDays}"/>
                                                </apex:selectList>       -->
                                                <!-- <apex:inputField value="{!directDebit.DD_First_Collection_Date__c}"  onchange="calculatePayments();" />                 -->
                                                
                                                <apex:input type="date" styleClass="slds-input" value="{!firstCollectionDate}" onchange="validatePaymentDates();" rendered="{!newDirectDebit == true || !newRepeatPayment == true}"/>
                                               
                                                <apex:outputText value="{0,date,dd MMM YYYY}" rendered="{!newDirectDebit == false}">
                                                    <apex:param value="{!firstCollectionDate}"/>
                                                </apex:outputText>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-tile slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-tile__detail">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="form-element-01">Number of Collections</label>
                                            <div class="slds-form-element__control">
                                                <apex:selectList id="installments2" value="{!selectedRange}" multiselect="false" size="1" styleClass="slds-input" onchange="calculatePayments();">
                                                    <apex:selectOptions value="{!InstallmentRange}"/>
                                                </apex:selectList>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-tile slds-media">
                                <div class="slds-media__body">
                                    <div class="slds-tile__detail">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="form-element-01">Auto Expire</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputCheckbox value="{!directDebit.Auto_Expire__c}" id="DDAutoExpire"/>                                         
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="canvas-element" closertotopclass="canvas-element--closer-to-top" style="padding: 2%;">
                            <div class="slds-form__row slds-m-top_large">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <table class="slds-table slds-table_cell-buffer slds-table_header-hidden slds-table_bordered">
                                            <tbody>     
                                                <tr>
                                                    <td>
                                                        Collection Date
                                                    </td>
                                                    <td>
                                                        Collection Amount
                                                    </td>
                                                </tr>                                                               
                                                <apex:repeat value="{!paymentList}" var="payments" id="paymentsRepeatDD">
                                                <tr>
                                                    <td>
                                                        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                                                            <apex:param value="{!payments.paymentDate}" /> 
                                                        </apex:outputText>
                                                    </td>
                                                    <td>
                                                        <apex:outputText value="£{0, number, ###,###,###,###0.00}">  
                                                            <apex:param value="{!payments.paymentAmount}"/>  
                                                        </apex:outputText>  
                                                        <!-- <apex:repeat value="{!payments.lineItemList}" var="lil" id="li">
                                                            <td>
                                                                <apex:outputText value="£{0, number, ###,###,###,###0.00}">  
                                                                    <apex:param value="{!lil.c2g__Amount__c}"/>  
                                                                </apex:outputText>  
                                                            </td>
                                                        </apex:repeat> -->
                                                    </td>
                                                </tr>
                                                </apex:repeat>                                                          
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="canvas-element" closertotopclass="canvas-element--closer-to-top" style="padding: 2%;">
                            <div class="slds-form__row slds-m-top_large">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <table class="slds-table slds-table_cell-buffer slds-table_header-hidden slds-table_bordered">
                                            <tbody>     
                                                <tr>
                                                    <td>
                                                        Collection Date
                                                    </td>
                                                    <td>
                                                        Collection Amount
                                                    </td>
                                                </tr>                                                               
                                                <apex:repeat value="{!invoiceInstallmentList}" var="payments" id="paymentsRepeats">
                                                <tr>
                                                    <td>
                                                        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                                                            <apex:param value="{!payments.c2g__DueDate__c}" /> 
                                                        </apex:outputText>
                                                    </td>
                                                    <td>
                                                        <apex:outputText value="£{0, number, ###,###,###,###0.00}">  
                                                            <apex:param value="{!payments.c2g__Amount__c}"/>  
                                                        </apex:outputText>  
                                                    </td>
                                                </tr>
                                                </apex:repeat>                                                          
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <footer class="slds-card__footer" style="text-align:left;">
                    <apex:outputPanel >
                        <apex:commandButton style="width:150px;" value="Cancel" action="{!cancel}" styleclass="slds-button slds-button_neutral"/>

                        <apex:commandButton value="Back" style="width:150px;" action="{!back}" styleclass="slds-button slds-button_neutral"/>

                        <apex:commandButton style="width:150px;" value="Next" action="{!next}" styleclass="slds-button slds-button_brand"/>
                    </apex:outputPanel>
                </footer>
        </article>
    </apex:outputPanel>
    <apex:outputPanel id="finalisePanel" rendered="{!stepNo == 4 && newRepeatPayment == false}">
            <article class="slds-card slds-m-top_small"> 
                <div class="slds-card__body slds-card__body_inner">
                    <div class="slds-grid slds-wrap slds-grid--pull-padded">
                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                                <div class="slds-text-heading_medium">Finalise Details</div>
                            </div>
                            <apex:outputPanel id="cardPaymentAmount" rendered="{!cardPaymentAmount > 0}">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <label class="slds-form-element__label" for="form-element-01">Total to Take by Card</label>
                                        <div class="slds-form-element__control">
                                        <apex:outputText styleClass="slds-input" value="£{0, number, ###,###,###,###0.00}">  
                                            <apex:param value="{!cardPaymentAmount}"/>  
                                        </apex:outputText>  
                                        </div>
                                    </div>
                                </div>  
                            </apex:outputPanel>
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top" style="padding: 2%;">
                                <div class="slds-form__row slds-m-top_large">
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_horizontal">
                                            <table class="slds-table slds-table_cell-buffer slds-table_header-hidden slds-table_bordered">
                                                <tbody>     
                                                    <tr>
                                                        <td>
                                                            Collection Date
                                                        </td>
                                                        <td>
                                                            Collection Amount
                                                        </td>
                                                    </tr>                                                               
                                                    <apex:repeat value="{!paymentList}" var="payments" id="paymentsRepeatFinalise">
                                                    <tr>
                                                        <td>
                                                            <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                                                                <apex:param value="{!payments.paymentDate}" /> 
                                                            </apex:outputText>
                                                        </td>
                                                        <td>
                                                            <apex:outputText value="£{0, number, ###,###,###,###0.00}">  
                                                                <apex:param value="{!payments.paymentAmount}"/>  
                                                            </apex:outputText>  
                                                        </td>
                                                    </tr>
                                                    </apex:repeat>                                                          
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br/><br/>
                                    <apex:inputCheckbox value="{!checked}" id="DDcheck" onchange="agreeCheckChanged();"/>
                                    <apex:outputLabel value="Has the person agreed to the direct debit being set up, and are they the account holder and the only person required to authorise debits from this account?" for="DDcheck"/>  
                                    <br/><br/>
                                    <div style="text-align: center"><b>The Direct Debit Guarantee</b></div><br/>
                                    <ul>
                                    <li>
                                        • This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.
                                    </li>
                                    <li>
                                        • If there are any changes to the amount, date or frequency of your Direct Debit <b>PPL PRS</b> will notify you 10 working days in advance of your account being debited or as otherwise agreed. If you request <b>PPL PRS</b> to collect a payment, confirmation of the amount and date will be given to you at the time of the request.
                                    </li>
                                    <li>
                                        • If an error is made in the payment of your Direct Debit, by <b>PPL PRS</b> or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society.<br />
                                        <ul>
                                            <li>
                                                • If you receive a refund you are not entitled to, you must pay it back when <b>PPL PRS</b> asks you to.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        • You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify us.
                                    </li>
                                </ul>                              
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="slds-card__footer" style="text-align:left;">
                    <apex:outputPanel >
                        <apex:commandButton style="width:150px;" value="Cancel" action="{!cancel}" styleclass="slds-button slds-button_neutral"/>

                        <apex:commandButton value="Back" style="width:150px;" action="{!back}" styleclass="slds-button slds-button_neutral"/>

                        <apex:commandButton style="width:150px;" value="Confirm" disabled="{!checked == false}" onclick="this.onclick=function(){return false;}" action="{!showSpinner}" oncomplete="finalisePaymentDetails();" styleclass="slds-button slds-button_brand" rendered="{!stepNo == 4}" reRender="theForm"/>

                        <apex:commandButton style="width:150px;" value="Next" action="{!next}" styleclass="slds-button slds-button_brand" rendered="{!stepNo != 4}"/>
                    </apex:outputPanel>
                </footer>
        </article>
    </apex:outputPanel>
    <apex:outputPanel id="finalisePanelRP" rendered="{!stepNo == 4 && newRepeatPayment == true}">
            <article class="slds-card slds-m-top_small"> 
                <div class="slds-card__body slds-card__body_inner">
                    <div class="slds-grid slds-wrap slds-grid--pull-padded">
                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top">
                                <div class="slds-text-heading_medium">Finalise Details</div>
                            </div>
                            <apex:outputPanel id="cardPaymentAmountRP" rendered="{!cardPaymentAmount > 0}">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_horizontal">
                                        <label class="slds-form-element__label" for="form-element-01">Total to Take by Card</label>
                                        <div class="slds-form-element__control">
                                        <apex:outputText styleClass="slds-input" value="£{0, number, ###,###,###,###0.00}">  
                                            <apex:param value="{!cardPaymentAmount}"/>  
                                        </apex:outputText>  
                                        </div>
                                    </div>
                                </div>  
                            </apex:outputPanel>
                            <div class="canvas-element" closertotopclass="canvas-element--closer-to-top" style="padding: 2%;">
                                <div class="slds-form__row slds-m-top_large">
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_horizontal">
                                            <table class="slds-table slds-table_cell-buffer slds-table_header-hidden slds-table_bordered">
                                                <tbody>     
                                                    <tr>
                                                        <td>
                                                            Collection Date
                                                        </td>
                                                        <td>
                                                            Collection Amount
                                                        </td>
                                                    </tr>                                                               
                                                    <apex:repeat value="{!paymentList}" var="payments" id="paymentsRepeatFinaliseRP">
                                                    <tr>
                                                        <td>
                                                            <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                                                                <apex:param value="{!payments.paymentDate}" /> 
                                                            </apex:outputText>
                                                        </td>
                                                        <td>
                                                            <apex:outputText value="£{0, number, ###,###,###,###0.00}">  
                                                                <apex:param value="{!payments.paymentAmount}"/>  
                                                            </apex:outputText>  
                                                        </td>
                                                    </tr>
                                                    </apex:repeat>                                                          
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br/><br/>                           
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="slds-card__footer" style="text-align:left;">
                    <apex:outputPanel >
                        <apex:commandButton style="width:150px;" value="Cancel" action="{!cancel}" styleclass="slds-button slds-button_neutral"/>

                        <apex:commandButton value="Back" style="width:150px;" action="{!back}" styleclass="slds-button slds-button_neutral"/>

                        <apex:commandButton style="width:150px;" value="Confirm" onclick="this.onclick=function(){return false;}" action="{!showSpinner}" oncomplete="finalisePaymentDetails();" styleclass="slds-button slds-button_brand" rendered="{!stepNo == 4}" reRender="theForm"/>

                        <apex:commandButton style="width:150px;" value="Next" action="{!next}" styleclass="slds-button slds-button_brand" rendered="{!stepNo != 4}"/>
                    </apex:outputPanel>
                </footer>
        </article>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!stepNo == 10}">
        <footer class="slds-card__footer" style="text-align:left;">
            <apex:outputPanel >
                <apex:commandButton style="width:150px;" value="Cancel" action="{!cancel}" styleclass="slds-button slds-button_neutral"/>
            </apex:outputPanel>
        </footer>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!stepNo == 20}">
        <div class="demo-only" style="height: 6rem;">
          <div role="status" class="slds-spinner slds-spinner_medium">
            <span class="slds-assistive-text">Loading</span>
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
          </div>
        </div>
    </apex:outputPanel>
    </apex:form>
    </html>
</apex:page>